<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{{ partial "head.html" . }}
<body lang="{{ .Site.LanguageCode }}" class="">
    {{ partial "header.html" . }}
<section id="main">
    <h1>{{$.Title}}</h1>
    <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ .Content }}
    </article>
</section>
<section id="sidebar">
    Recent posts:
    <ul>
        {{- range $postI, $post := (.Paginate ( where site.RegularPages "Section" "post" | first 3 ) ).Pages }}
        <li><a href="{{$post.Permalink}}">{{$post.LinkTitle}} ({{$post.Date}})</a></li>
        {{end}}
    </ul>
</section>

{{ partial "footer.html" . }}
</body>
</html>
